body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.navbar {
    margin: 0;
    width: 300px;
    background-color: #000000;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.navbar h1 {
    font-size: 50px;
    margin-bottom: 20vh;
    color: #20c20e;
}
.navbar h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #20c20e;
}

.range-field label {
    display: block;
    margin-bottom: 5px;
}

.range-field input[type="range"] {
    width: 100%;
}

.workspace {
    position: relative;
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    background-color: #ccc;
    margin: 20px 20px;
    overflow: hidden;
}

#canvas {
    border: 2px solid #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.file-controls {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #28a315;
    color: white;
    width: 100%;
    border: none;
    padding: 5px 20px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"],
input[type="url"] {
    width: 80%;
    padding: 10px;
    margin: auto auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input[type="file"]:focus,
input[type="url"]:focus {
    border-color: #20c20e;
}
